.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
#!.yarn/cache
.pnp.*
node_modules
lib
dist
DS_Store
.DS_Store

tmp
.nx/cache
.angular
.nx
tsconfig.tsbuildinfo

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
tsconfig.vitest-temp.json

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
coverage
